@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,500,600');


html,body {
 font-family: Work Sans;
}
.logo img{
	width: 100px;`
}

.list-unstyled li{

	padding:.5em;
}
.btn-off{
	color: lightgrey !important;
}
.btn-success{
	border:0;

}
.btn-success:hover{
	background-color: #71B427;
	color:#fff !important;
	border:0;
}
.btn-success:active{
	background-color: #71B427;
	color:#fff !important;
	border:0;
}
.btn-active-2{
	background-color: #F68B1F;
}
button.btn{
	background-color: #00A651;
}
.btn{
	border-radius: 0;
	padding:1em;
	background:transparent;
	padding-top: 0.5em;
	padding-bottom: 0.2em;
}
.cta-1{
	font-size: 1.1em;
	padding-top: 0.6em !important;
	padding-bottom: 0.6em !important;
}
.list-unstyled li{
	margin-bottom: 0.5em;
	padding: 0
}
a.btn {
	color: black ;
}
.active-1{
	background-color:#00A651 !important;
	color: #fff !important;
}
.active-2{
	background-color:#71B427#F68B1F !important;
	color: #fff !important;
}
.active-3{
	background-color:#524FA1 !important;
	color: #fff !important;
}
.typo-1{

	text-transform: uppercase;
}
.success{
	color:#71B427;
}
.success-s{
	color:#00A651;
}
.success-s2{
	color:#71B427;
}
.success-s3{
	color:#524FA1;
}

.team .col-lg-3 img{
  object-fit: contain;
  background-color: transparent;
  width:100%;
  height: 200px;
  filter: grayscale(100%);
  transition: .6s all ease
  }
.team .col-lg-3 img:hover{
  filter: grayscale(0%);
  }
  .team1 .col-lg-3 img{
  object-fit: cover;
  background-color: transparent;
  width:100%;
  height: 200px;
  filter: grayscale(100%);
  transition: .6s all ease
  }
.team1 .col-lg-3 img:hover{
  filter: grayscale(0%);
  }
.market .col-3 img,.market .col-sm-3 img,.market .col-sm-12 img{
	width:100%;
}
.highlight{
	color: #00A651 !important;
	font-weight: 700;
}
.highlight-1{
	color: #71B427 !important;
	font-weight: 700;
}
.highlight-2{
	color: #524FA1 !important;
	font-weight: 700;
}
.hl-span{
	text-transform: uppercase;
	color: #565656;
	font-weight: 700;
}
.mobile-hide{
	display: block;
}
.mobile-show{
	display: none;
}
@media screen and (min-width: 1024px) {
	.margin-left-1{
   margin-left: 2em;
 }
}
@media screen and (max-width: 520px) {
.overlay-content{
  top: 5% !important;
}

  .position-fixednav{
    width: 93% !important;
  }
  .scroll{
    padding:10px;
    width: 91%;
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
  }
  .list-unstyled li{
      height: 40px;
  }
  .cta-1{
    font-size: 1em;
  }
  .scroll-nav{
    display: inline-flex;
    overflow: scroll;
    width: 100%;
  }
  .mobile-hide{
    display: none
  }
  .mobile-show{
    display: block;
  }
  .mobile-padd{
    padding:0;
  }
  .overlay a {font-size: 20px !important}
  .overlay .closebtn {
    font-size: 4em !important;
    top: 15px;
    right: 0 !important;
  }
}
/* Menu css  */

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1112;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
  overflow-x: scroll;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 10%;
  margin: 0 auto;
  width: 50%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size:2rem;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
	padding-top: 0;
  position: absolute;
  top: 0;
  right: 12px;
  font-size: 60px;
  line-height: 1;
}


/*New Content Css*/

.card-block{
	padding:1em;
	padding-left: 0;
	text-align: left;
}
.navbar{
	z-index: 11;
}
#navTop{
	transition: all 1s;
}

.position-fixednav{
  position:fixed;width: 99%;background-color: white !important;
  z-index: 111 !important;
}
.card{
	border-radius: 0;
}
.card a{
	color: #434141;
	text-decoration: none;
}
.fs-form-wrap{
	top: 0;
	left: 0;
	height: 100%;
	display: none;
  z-index: 111111  !important;
  background: #fff  !important;
  position: fixed !important;
  overflow-y: scroll;
}
/*form*/
.control-group {
  display: inline-block;
  vertical-align: top;
  text-align: left;
  padding: 0;
  width: 100%;
  height: 100%;
  margin: 10px;
}
.control {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 15px;
  cursor: pointer;
  font-size: 18px;
}
.control input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.control__indicator {
  position: absolute;
  top: 2px;
  left: 0;
  height: 20px;
  width: 20px;
  background: #e6e6e6;
}
.control--radio .control__indicator {
  border-radius: 50%;
}
.control:hover input ~ .control__indicator,
.control input:focus ~ .control__indicator {
  background: #ccc;
}
.control input:checked ~ .control__indicator {
  background: #8DC252;
}
.control:hover input:not([disabled]):checked ~ .control__indicator,
.control input:checked:focus ~ .control__indicator {
  background: #8DC252;
}
.control input:disabled ~ .control__indicator {
  background: #e6e6e6;
  opacity: 0.6;
  pointer-events: none;
}
.control__indicator:after {
  content: '';
  position: absolute;
  display: none;
}
.control input:checked ~ .control__indicator:after {
  display: block;
}
.control--checkbox .control__indicator:after {
  left: 8px;
  top: 4px;
  width: 3px;
  height: 8px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
.control--checkbox input:disabled ~ .control__indicator:after {
  border-color: #7b7b7b;
}
.control--radio .control__indicator:after {
  left: 7px;
  top: 7px;
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background: #fff;
}
.control--radio input:disabled ~ .control__indicator:after {
  background: #7b7b7b;
}
.select {
  position: relative;
  display: inline-block;
  margin-bottom: 15px;
  width: 100%;
}
.select select {
  display: inline-block;
  width: 100%;
  cursor: pointer;
  padding: 10px 15px;
  outline: 0;
  border: 0;
  border-radius: 0;
  background: #e6e6e6;
  color: #7b7b7b;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.select select::-ms-expand {
  display: none;
}
.select select:hover,
.select select:focus {
  color: #000;
  background: #ccc;
}
.select select:disabled {
  opacity: 0.5;
  pointer-events: none;
}
.select__arrow {
  position: absolute;
  top: 16px;
  right: 15px;
  width: 0;
  height: 0;
  pointer-events: none;
  border-style: solid;
  border-width: 8px 5px 0 5px;
  border-color: #7b7b7b transparent transparent transparent;
}
.select select:hover ~ .select__arrow,
.select select:focus ~ .select__arrow {
  border-top-color: #000;
}
.select select:disabled ~ .select__arrow {
  border-top-color: #ccc;
}

.welcome{
  overflow-y: scroll;
  position: fixed;
  background-color: white;
  color: black;
  z-index: 11111;
  padding: 12vw;
  padding-top: 5vw;
}

.card{
  border:0 !important;
}
.image1{
  transition: .5s ease;
  border:1px solid #71b44f;
  border-radius: 3px;
  filter: grayscale(100%);
}

.card:hover .image1 {
  filter: grayscale(9%);

}


.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.card{
  border:0 !important;
}
.image{
  border:1px solid black;
  border-radius: 10px;
}

.card:hover .image {
  opacity: 0.3;
}

.card:hover .middle {
  opacity: 1;
}

/*form*/
.form-style-7 {
  background: #fff;
  border-radius: 2px;
  font-family: Work Sans;
}

.form-style-7 h1 {
  display: block;
  text-align: center;
  padding: 0;
  margin: 0px 0px 20px 0px;
  color: #5C5C5C;
  font-size: x-large;
}

.form-style-7 ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.form-style-7 li.search-field{
  border: 0px solid transparent;
}
.form-style-7 li {
  display: block;
  padding: 9px;
  border: 1px solid #DDDDDD;
  margin-bottom: 30px;
  border-radius: 3px;
}

.form-style-7 li.last:last-child {
  border: none;
  margin-bottom: 0px;
  text-align: center;
}

.form-style-7 li>label {
  display: block;
  float: left;
  margin-top: -19px;
  background: #FFFFFF;
  height: 25px;
  padding: 2px 5px 2px 5px;
  color: #B9B9B9;
  font-size: 14px;
  overflow: hidden;
  font-family: Work Sans;
}
.chosen-container-multi .chosen-choices{
  background-color: transparent !important;
  background-image: none !important;
  border: none !important;
}
.chosen-container-active .chosen-choices{
  box-shadow: none !important;
}
.form-style-7 input[type="file"]{
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 100%;
  display: block;
  outline: none;
  border: none;
  height: 35px;
  padding-bottom: 20px;
  line-height: 25px;
  font-size: 16px;
  padding: 0;
  font-family: Work Sans;
}
.form-style-7 input[type="text"],
.form-style-7 input[type="date"],
.form-style-7 input[type="datetime"],
.form-style-7 input[type="email"],
.form-style-7 input[type="number"],
.form-style-7 input[type="search"],
.form-style-7 input[type="time"],
.form-style-7 input[type="url"],
.form-style-7 input[type="password"],
.form-style-7 textarea,
.form-style-7 select {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 100%;
  display: block;
  outline: none;
  border: none;
  height: 25px;
  line-height: 25px;
  font-size: 16px;
  padding: 0;
  font-family: Work Sans;
}

.form-style-7 input[type="text"]:focus,
.form-style-7 input[type="date"]:focus,
.form-style-7 input[type="datetime"]:focus,
.form-style-7 input[type="email"]:focus,
.form-style-7 input[type="number"]:focus,
.form-style-7 input[type="search"]:focus,
.form-style-7 input[type="time"]:focus,
.form-style-7 input[type="url"]:focus,
.form-style-7 input[type="password"]:focus,
.form-style-7 textarea:focus,
.form-style-7 select:focus {}

.form-style-7 li>span.bot {
  background: #F3F3F3;
  display: block;
  padding: 3px;
  margin: 0 -9px -9px -9px;
  text-align: center;
  color: #C0C0C0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
}

.form-style-7 textarea {
  resize: none;
}

.form-style-7 input[type="submit"],
.form-style-7 input[type="button"] {
  background: #2471FF;
  border: none;
  padding: 10px 20px 10px 20px;
  border-bottom: 3px solid #5994FF;
  border-radius: 3px;
  color: #D2E2FF;
}

.form-style-7 input[type="submit"]:hover,
.form-style-7 input[type="button"]:hover {
  background: #6B9FFF;
  color: #fff;
}
