         <div class="row team text-center">
            <div class="col-lg-3 col-md-4">
              <div class="card border-0" >
                <img class="card-img-top">
                <div class="card-block ">
                  <h4 class="h4"> PiTV  </h4> 
                  <h4 class="h5"> Adtech</h4>
                  <p class="card-text">Streaming platform with cloud services, CDN capacity and digital television</p>
                </div>
              </div>
            </div> 
            <div class="col-lg-3 col-md-4">
              <div class="card border-0" >
                <img class="card-img-top">
                <div class="card-block ">
                  <h4 class="h4">Retina VR </h4> 
                  <h4 class="h5"> Adtech</h4>
                  <p class="card-text">Developing virtual reality applications to visualize real estate</p>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-4">
              <div class="card border-0" >
                <img class="card-img-top">
                <div class="card-block ">
                  <h4 class="h4"> Wifinity</h4> 
                  <h4 class="h5"> Adtech</h4>
                  <p class="card-text">Streaming platform with cloud services, CDN capacity and digital television</p>
                </div>
              </div>
            </div> 
            <div class="col-lg-3 col-md-4">
              <div class="card border-0" >
                <img class="card-img-top">
                <div class="card-block ">
                  <h4 class="h4"> Publishex  </h4>
                  <h4 class="h5"> Adtech</h4>
                  <p class="card-text">Enables merchants to monetize digital goods and services</p>
                </div>
              </div>
            </div>
          </div>
          <div class="row team text-center">
            <div class="col-lg-3 col-md-4">
              <div class="card border-0" >
                <img class="card-img-top">
                <div class="card-block ">
                  <h4 class="h4"> Publishex  </h4>
                  <h4 class="h5"> Adtech</h4>
                  <p class="card-text">Enables merchants to monetize digital goods and services</p>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-4">
              <div class="card border-0" >
                <img class="card-img-top">
                <div class="card-block ">
                  <h4 class="h4"> PiTV  </h4> 
                  <h4 class="h5"> Adtech</h4>
                  <p class="card-text">Streaming platform with cloud services, CDN capacity and digital television</p>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-4">
              <div class="card border-0" >
                <img class="card-img-top">
                <div class="card-block ">
                  <h4 class="h4"> Adbreak  </h4> 
                  <h4 class="h5"> Adtech</h4>
                  <p class="card-text">Platform that connects brands to users via games</p>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-4">
              <div class="card border-0" >
                <img class="card-img-top">
                <div class="card-block ">
                  <h4 class="h4"> Adspirations  </h4> 
                  <h4 class="h5"> Adtech</h4>
                  <p class="card-text">Leading platform for connecting publishers and advertiser</p>
                </div>
              </div>
            </div> 
          </div>
          <div class="row team text-center">


            <div class="col-lg-3 col-md-4">
              <div class="card border-0" >
                <img class="card-img-top">
                <div class="card-block ">
                  <h4 class="h4"> BookmyAd   </h4> 
                  <h4 class="h5"> Adtech</h4>
                  <p class="card-text">Centralized information portal for major advertisement platforms</p>
                </div>
              </div>
            </div> 

          </div>
          <div class="row team text-center">


            <div class="col-lg-3 col-md-4">
              <div class="card border-0" >
                <img class="card-img-top">
                <div class="card-block ">
                  <h4 class="h4"> Dawaai   </h4> 
                  <h4 class="h5"> E-Commerce </h4>
                  <p class="card-text">First and largest online health store in Pakistan</p>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-4">
              <div class="card border-0" >
                <img class="card-img-top">
                <div class="card-block ">
                  <h4 class="h4"> Well  </h4>
                  <h4 class="h5"> E-Commerce </h4>
                  <p class="card-text"> Fastest growing Amazon-style online shopping venture in Pakistan/p>
                </div>
              </div>
            </div>

            <div class="col-lg-3 col-md-4">
              <div class="card border-0" >
                <img class="card-img-top">  
                <div class="card-block ">
                  <h4 class="h4"> Simple</h4> 
                  <h4 class="h5"> E-Commerce</h4>
                  <p class="card-text">Platform that connects employers to freelancers</p>
                </div>
              </div>
            </div> 
          </div>          
          <div class="row team text-center">

          </div>          
          <div class="row team text-center">
            <div class="col-lg-3 col-md-4">
              <div class="card border-0" >
                <img class="card-img-top">
                <div class="card-block ">
                  <h4 class="h4"> Unipedia  </h4>
                  <h4 class="h5"> Edutech </h4>
                  <p class="card-text"> Online University entrance test preparation and self-assessment</p>
                </div>
              </div>
            </div>

            <div class="col-lg-3 col-md-4">
              <div class="card border-0" >
                <img class="card-img-top">
                <div class="card-block ">
                  <h4 class="h4"> Daakhla    </h4> 
                  <h4 class="h5"> Edutech </h4>
                  <p class="card-text">One stop admission solution for universities</p>
                </div>
              </div>
            </div> 
            <div class="col-lg-3 col-md-4">
              <div class="card border-0" >
                <img class="card-img-top">
                <div class="card-block ">
                  <h4 class="h4"> Read Up   </h4> 
                  <h4 class="h5"> Edutech </h4>
                  <p class="card-text">E-reading and publishing platform for local and international publications</p>
                </div>
              </div>
            </div>
          </div>          
          <div class="row team text-center">
            <div class="col-lg-3 col-md-4">
              <div class="card border-0" >
                <img class="card-img-top">
                <div class="card-block ">
                  <h4 class="h4"> Tez Financial </h4>
                  <h4 class="h5"> Fintech </h4>
                  <p class="card-text">  One mobile application providing financial services for the unbanked</p>
                </div>
              </div>
            </div>

            <div class="col-lg-3 col-md-4">
              <div class="card border-0" >
                <img class="card-img-top">
                <div class="card-block ">
                  <h4 class="h4"> Kashapp    </h4> 
                  <h4 class="h5"> Fintech </h4>
                  <p class="card-text">App that allows users to pull money from any bank to their mobile wallets</p>
                </div>
              </div>
            </div> 
            <div class="col-lg-3 col-md-4">
              <div class="card border-0" >
                <img class="card-img-top">
                <div class="card-block ">
                  <h4 class="h4"> KarloCompare   </h4> 
                  <h4 class="h5">  Fintech </h4>
                  <p class="card-text">App that helps consumers compare, apply or buy personal finance products</p>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-4">
              <div class="card border-0" >
                <img class="card-img-top">
                <div class="card-block ">
                  <h4 class="h4"> Blockchain Tech </h4>
                  <h4 class="h5"> Fintech </h4>
                  <p class="card-text"> Provides consultation, development and logistic solutions using block chain </p>
                </div>
              </div>
            </div>
          </div>         
           <div class="row team text-center">
            <div class="col-lg-3 col-md-4">
              <div class="card border-0" >
                <img class="card-img-top">
                <div class="card-block ">
                  <h4 class="h4"> ApniProperty</h4> 
                  <h4 class="h5"> Fintech </h4>
                  <p class="card-text">Platform for crowdfunding rental properties and co-working spaces</p>
                </div>
              </div>
            </div> 
            <div class="col-lg-3 col-md-4">
              <div class="card border-0" >
                <img class="card-img-top">
                <div class="card-block ">
                  <h4 class="h4"> Piepie   </h4> 
                  <h4 class="h5"> Fintech </h4>
                  <p class="card-text"> Tax adjustment automation for tax filers</p>
                </div>
              </div>
            </div>
          </div>       
           <div class="row team text-center">
            <div class="col-lg-3 col-md-4">
              <div class="card border-0" >
                <img class="card-img-top">
                <div class="card-block ">
                  <h4 class="h4">SRE Solutions  </h4>
                  <h4 class="h5"> other </h4>
                  <p class="card-text"> Providing off grid renewable energy products for low income customers</p>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-4">
              <div class="card border-0" >
                <img class="card-img-top">
                <div class="card-block ">
                  <h4 class="h4"> Feedience   </h4> 
                  <h4 class="h5"> Other </h4>
                  <p class="card-text"> Other Native content publishing platform</p>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-4">
              <div class="card border-0" >
                <img class="card-img-top">
                <div class="card-block ">
                  <h4 class="h4"> OrderCall </h4> 
                  <h4 class="h5"> Other </h4>
                  <p class="card-text" >System for retail market sales, order processing and tracking in Pakistan</p>
                </div>
              </div>
            </div> 
            <div class="col-lg-3 col-md-4">
              <div class="card border-0" >
                <img class="card-img-top">
                <div class="card-block ">
                  <h4 class="h4"> 10xC</h4> 
                  <h4 class="h5"> Other </h4>
                  <p class="card-text"> TFirst private venture backed startup accelerator and VC firm</p>
                </div>
              </div>
            </div>
          </div>       
           <div class="row team text-center">
            <div class="col-lg-3 col-md-4">
              <div class="card border-0" >
                <img class="card-img-top">
                <div class="card-block ">
                  <h4 class="h4">Datalift </h4>
                  <h4 class="h5"> Other </h4>
                  <p class="card-text"> Develops propriety algorithms and machine learning techniques for enterprises</p>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-4">
              <div class="card border-0" >
                <img class="card-img-top">
                <div class="card-block ">
                  <h4 class="h4"> Evantagesoft </h4> 
                  <h4 class="h5"> Other </h4>
                  <p class="card-text">Technology development company that specializes in finance domain</p>
                </div>
              </div>
            </div> 
            <div class="col-lg-3 col-md-4">
              <div class="card border-0" >
                <img class="card-img-top">
                <div class="card-block ">
                  <h4 class="h4"> Shadi Shenanigans </h4>
                  <h4 class="h5"> Other </h4>
                  <p class="card-text"> Online portal for brides and grooms</p>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-4">
              <div class="card border-0" >
                <img class="card-img-top">
                <div class="card-block ">
                  <h4 class="h4"> Bun ka baap </h4> 
                  <h4 class="h5"> Other </h4>
                  <p class="card-text"> Local fast food chain in Pakistan</p>
                </div>
              </div>
            </div>
          </div>       
           <div class="row team text-center">
            <div class="col-lg-3 col-md-4">
              <div class="card border-0" >
                <img class="card-img-top">
                <div class="card-block ">
                  <h4 class="h4"> Townsmate</h4> 
                  <h4 class="h5"> Other </h4>
                  <p class="card-text">On-demand logistics</p>
                </div>
              </div>
            </div> 
             <div class="col-lg-3 col-md-4">
              <div class="card border-0" >
                <img class="card-img-top">
                <div class="card-block ">
                  <h4 class="h4">Lab Cloud </h4>
                  <h4 class="h5"> Other </h4>
                  <p class="card-text">Online platform to book laboratory tests and view, manage reports</p>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-4">
              <div class="card border-0" >
                <img class="card-img-top">
                <div class="card-block ">
                  <h4 class="h4">Ye Cheez </h4>
                  <h4 class="h5"> Other </h4>
                  <p class="card-text"> Online hostel booking platform for university students</p>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-4">
              <div class="card border-0" >
                <img class="card-img-top">
                <div class="card-block ">
                  <h4 class="h4"> Phone Doctor </h4> 
                  <h4 class="h5"> Other </h4>
                  <p class="card-text">   Technical support and repair services for mobile phones </p>
                </div>
              </div>
            </div>
          </div>            
          <div class="row team text-center">
            <div class="col-lg-3 col-md-4">
              <div class="card border-0" >
                <img class="card-img-top">
                <div class="card-block ">
                  <h4 class="h4"> Hou Buddies </h4> 
                  <h4 class="h5"> Other </h4>
                  <p class="card-text">Online platform to reinvent speed networking</p>
                </div>
              </div>
            </div> 
            <div class="col-lg-3 col-md-4">
              <div class="card border-0" >
                <img class="card-img-top">
                <div class="card-block ">
                  <h4 class="h4"> S2J    </h4> 
                  <h4 class="h5"> Other </h4>
                  <p class="card-text">  Building a virtual assistant to automate remedial tasks</p>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-4">
              <div class="card border-0" >
                <img class="card-img-top">
                <div class="card-block ">
                  <h4 class="h4"> My Mobile Doctor</h4> 
                  <h4 class="h5"> Other </h4>
                  <p class="card-text">Diagnosis system for medical infections using cough patterns</p>
                </div>
              </div>
            </div> 
              <div class="col-lg-3 col-md-4">
              <div class="card border-0" >
                <img class="card-img-top">
                <div class="card-block ">
                  <h4 class="h4">Intellibit </h4>
                  <h4 class="h5"> Other </h4>
                  <p class="card-text">Building intelligent computers for home automation</p>
                </div>
              </div>
            </div>
          </div>  
          