@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,500,600');


html,body {
	overflow-y: hidden;	
  	height: 100%;
  	font-family: Work Sans;
}
.row{
  	overflow:hidden;
}

.success{
	color:#71B427;
}
.h-100{
	height: 83% !important;
	}
.h-50{
	height: 100% !important;
}
.leftt{
	position:absolute; left: 50px;top: calc(50% - 0.2em);z-index: 1111;z-index: 1111;padding:0.2em;padding-top:0; padding-bottom:0;transition: all 0.5s;
}
.rightt{
	position:absolute; right: 50px;top: calc(50% - 0.2em);z-index: 1111;padding:0.2em;padding-top:0; padding-bottom:0;transition: all 0.5s;
}
.leftt:hover,.rightt:hover{
		color: white;
		background-color: #71B427;
}
.dot {
    height: 10px;
    width: 10px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}
.active1{
    background-color: #71B427;
}
#pp-nav li .active span, .pp-slidesNav .active span{
	background-color: #71B427 !important;
}
.padding{
	justify-content: space-between;
	display: flex;
	height: 100%;
	flex-direction: column;
	position: absolute;
}
.padding h1:nth-child(1){
    font-weight: 600;
    font-size: 2.3vw !important;
}
.btn{
	padding-left: 0.4em;
	border-radius: 0;
}
.btn-success{
	background-color: #71B427;
}
.header{
	font-weight: 500;
}
.section{
	background-color: #fff
}
.sections{
	height: 100%;
}
#msection5{
	background-color: #fff
}
#section1,#msection1{
	opacity: 1;
	background-color: #fff;
}
#section1img,#section1img1,#msection1img{
	opacity: 0;
	position: absolute;
	width: 60%;
	bottom: 15%;
	right: -10%

}
#section1img1,#section2img1{
	opacity: 0;
	position: absolute;
	width: 40%;
	bottom: 15%;
	right: -15%;
}
#section3img1{
		opacity: 0;
	position: absolute;
	width: 40%;
	bottom: 20%;
	right: 5%;
}
.sub-head{
	font-size:1.5rem;
	line-height: 1;
}
.sub-head:nth-child(1){

	font-size:1.5rem;
}

.h1,.sub-head{
	color:#858585;
}#sectionheading2,
#sectionheading4,
#sectionheading7{
	font-size:1.1rem !important;
}
#sectionheading1,#msectionheading1,#sectionheading2,#msectionheading2{
	color:#858585;
}
#sectionheading3,#msectionheading3,#sectionheading4,#msectionheading4{
	color:#858585;
}
#section2,#msection2{
	opacity: 1;
	background-color: white;
}
#section2img,#msection2img{
	opacity: 0;
	position: absolute;
	width: 70%;
	bottom: 10%;
	right: -40%;
}
#section3,#section31,#msection2{
	opacity: 1;
	background-color: white;
}
#section6img1,#section9img1{
	opacity: 0;
	position: absolute;
	width: 70%;
	bottom: 10%;
	right: -20%
}
#section3img,#msection3img,#section4img1,#section5img1,#section7img1,#section8img1{
	opacity: 0;
	position: absolute;
	width: 70%;
	bottom: 10%;
	right: -40%
}
.mobile-hide{
	display: block;
}
.mobile-show{
	display: none;
}
.footer{
	margin-top: 1em
}
#mainicon{
	border-radius: 100%;
}
#cross,#facebook,#mail,#linkedin{
	border-radius: 100%;
	opacity: 0;
}
.fa-facebook,.fa-envelope-square,.fa-close,.fa-linkedin ,.fa-close {
	user-select: none;
	/*opacity: 0;*/
	/*position: absolute;*/
}

/*.fa.fa-phone,.fa-facebook,.fa-envelope-square,.fa-linkedin ,.fa-close {
	user-select: none;
	background-color: white;
	font-size: 2vw;
	color: #565656;
	cursor: pointer;
	padding: 0.4em;
	padding-top: 0.3em;
	padding-bottom: 0.3em;
	text-align: center;
	vertical-align: middle;
	border-radius: 100%;	
	border:1px solid #565656;
}*/
.legal{
	padding-top: 0;
	padding-bottom: 0;
	padding-left: 2em;
	padding-right: 2em;
}

@media screen and (min-width: 520px) and (max-width: 1024px) {

	.tab-hidden{
		display: none
	}
	.tab{
	    height: 100%;
		display: block;
	}
	.fa.fa-phone, .fa-facebook, .fa-envelope-square, .fa-close{
		font-size: 5vw;
		background-color: white;
	}
	.padding{
		height: 50%;
	}
	.dot-parent{
		display: none;
	}
	.borderleft:nth-child(4){
	 	border:solid black;
		border-width: 55px 55px 0 55px !important;
		border-image: url(border-left.svg) 27 20 27 27  stretch;
	}	
	.borderleft:nth-child(3),.borderleft:nth-child(5),.borderleft:nth-child(7){
	 	border:solid black;
		border-width: 55px 55px 55px 0 !important;
		border-image: url(border-left.svg) 27 20 27 27  stretch;
	}
	.padding h1:nth-child(1){
		font-weight: 600;
		font-size:4vw !important;
	}
	.sub-head{
	font-size:1.2rem;
	}
}

@media screen and (max-height: 600px){
	.texthide{
		display: none;
	}
	.landscape{
		display: none
	}
	.h-50{
		height: 144% !important;
		margin-left: -6%;
	}
	.dot-parent{
		bottom: 1em
	}
	.rightt{
		right: 25px;
	}
	.padding h1:nth-child(1){
		font-size:3vw ;
	}	
	.sub-head{
	font-size:1rem;
	}
	.land-pad{
		margin-bottom: 3em !important;

	}
}
@media screen and (max-width: 520px) {
	.overlay-content{
  top: 5% !important;
}
	body,html{
		overflow-y: hidden;
		touch-action: none;

	}
	.padding{
		display: initial;
	}
	html,body{
		width: 101%;
	}
  .overlay a {font-size: 20px !important}
  .overlay .closebtn {
    font-size: 4em !important;
    top: 15px;
    right: 0 !important;
  }
	.mobile-hide{
		display: none
	}
	.mobile-show{
		display: block;
	}
	.borderbottom{
	margin-left: 20px !important;
	}

	.h-50{
	height: 80% !important;
	}
	.padding h1:nth-child(1){
		font-weight: 600;
		font-size:7vw !important;
	}
	#pp-nav{
		display: none !important;
		margin-left: 0;
		user-select: none;
	}
	#pp-nav.right{
		right: 10px;
	}
	.dot-parent{
		display: none !important;
	}
}
.borderbottom{
	margin-left: 40px;
	border:solid black;
	  border-width: 0 60px 55px 55px;
    border-image-source: url(border-bottom.svg);
    border-image-slice: 0 0 30 30;
}
.borderright{
	  border:solid black;
	  border-width: 55px 55px 0px 0px;
	border-image: url(border-left.svg) 27 20 27 68 stretch;
}
.borderleft{
 	border:solid black;
	border-width: 55px 55px 0px 55px;
	border-image: url(border-left.svg) 27 20 27 27  stretch;
}
.borderleft:nth-child(4),.borderleft:nth-child(7){
 	border:solid black;
	border-width: 55px 55px 0px 0px;
	border-image: url(border-left.svg) 27 20 27 27  stretch;
}
#pp-nav{
	display: none
}
/* Menu css  */

.overlay {
    height: 100%;
    width: 0;
    position: absolute;
    z-index: 1112;
    top: 0;
    right: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: scroll;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 10%;
    margin: 0 auto;
    width: 50%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size:2vw;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
	padding-top: 0;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 60px;
    line-height: 1;
}



.logo img{
	width: 100px;
}


.menu {
	position: fixed;
	top: 0;
	left: -400px;
	bottom: 0;
	line-height: 100vh;
	width: 400px;
	-webkit-filter: url("#blur");
}

.menu-bg {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: #333;
	transform-origin: 100% 0;
}

.menu-items {
	position: relative;
	display: inline-block;
	width: 100%;
	vertical-align: middle;
	line-height: 1;
}

.menu-item {
	display: block;
	color: #fff;
	font-size: 28px;
	padding-top: 18px;
	padding-bottom: 18px;
	padding-right: 40px;
	text-align: right;
}

.menu-toggle {
	position: fixed;
	top: 20px;
	left: 20px;
	z-index: 100;
	display: block;
	width: 40px;
	height: 40px;
	cursor: pointer;
	background: none;
	border: none;
	margin: 0;
}

.menu-toggle span {
	position: absolute;
	top: 50%;
	left: 0;
	display: block;
	width: 100%;
	height: 2px;
	background-color: #7D87AE;
	font-size: 0px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-transition: background-color 0.2s;
	transition: background-color 0.2s;
}

.menu-open.menu-toggle span {
	background-color: transparent;
}

.menu-toggle span:before,
.menu-toggle span:after {
	position: absolute;
	left: 0;
	width: 100%;
	height: 100%;
	background: #7D87AE;
	content: '';
	-webkit-transition: -webkit-transform 0.2s;
	transition: transform 0.2s;
}

.menu-toggle span:before {
	-webkit-transform: translateY(-10px);
	transform: translateY(-10px);
}

.menu-toggle span:after {
	-webkit-transform: translateY(10px);
	transform: translateY(10px);
}

.menu-open.menu-toggle span:before {
	-webkit-transform: translateY(0) rotate(45deg);
	transform: translateY(0) rotate(45deg);
}

.menu-open.menu-toggle span:after {
	-webkit-transform: translateY(0) rotate(-45deg);
	transform: translateY(0) rotate(-45deg);
}



/* other styles */
.dot-parent{
	position: fixed;
	bottom:6em;
	right: 44%;
	left:44%;
	margin: 0 auto;
	z-index: 1;
	width:45px
}


@media screen and (max-height: 768px){
	.h-100{
		height: 78% !important;
	}
}
@media screen and (min-width: 1024px) and (max-width: 1336px) {
	.h-100{
	height: 80% !important;
	}
	.overlay .closebtn {
    right: 0 !important;
	}
}
.landscape{
	display: none;
}
@media screen and (min-width: 1367px){
	.padding{
		height:60%;
	}
	.landscape{
		display: block;
	}

}
@media screen and (min-width: 1024px) and (max-width: 1280px) {
	.padding h1:nth-child(1){
		font-size: 3vw !important;
	}
	.sub-head{
	font-size:1.1rem;
	}
}
.slick-track{
	padding-top: 1%;
}
.slick-initialized .slick-slide{
	height: 70vh !important;
}

@media screen and (min-width: 1024px)  {
	.tab{
		background-color: red;
		display: none;
	}
	.tab-hidden{
		display: block;
	}
}
.slick-slide:focus { outline: none !important }

/*form*/
.form-style-7 {
	background: #fff;
	border-radius: 2px;
	font-family: Work Sans;
}

.form-style-7 h1 {
	display: block;
	text-align: center;
	padding: 0;
	margin: 0px 0px 20px 0px;
	color: #5C5C5C;
	font-size: x-large;
}

.form-style-7 ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.form-style-7 li.search-field{
		border: 0px solid transparent;
}
.form-style-7 li {
	display: block;
	padding: 9px;
	border: 1px solid #DDDDDD;
	margin-bottom: 30px;
	border-radius: 3px;
}

.form-style-7 li.last:last-child {
	border: none;
	margin-bottom: 0px;
	text-align: center;
}

.form-style-7 li>label {
	display: block;
	float: left;
	margin-top: -19px;
	background: #FFFFFF;
	height: 25px;
	padding: 2px 5px 2px 5px;
	color: #B9B9B9;
	font-size: 14px;
	overflow: hidden;
	font-family: Work Sans;
}
.chosen-container-multi .chosen-choices{
	background-color: transparent;
	background-image: none;
	border: none;
}
.chosen-container-active .chosen-choices{
	box-shadow: none;
}
.form-style-7 input[type="file"]{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	display: block;
	outline: none;
	border: none;
	height: 35px;
	padding-bottom: 20px;
	line-height: 25px;
	font-size: 16px;
	padding: 0;
	font-family: Work Sans;
}
.form-style-7 input[type="text"],
.form-style-7 input[type="date"],
.form-style-7 input[type="datetime"],
.form-style-7 input[type="email"],
.form-style-7 input[type="number"],
.form-style-7 input[type="search"],
.form-style-7 input[type="time"],
.form-style-7 input[type="url"],
.form-style-7 input[type="password"],
.form-style-7 textarea,
.form-style-7 select {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	display: block;
	outline: none;
	border: none;
	height: 25px;
	line-height: 25px;
	font-size: 16px;
	padding: 0;
	font-family: Work Sans;
}

.form-style-7 input[type="text"]:focus,
.form-style-7 input[type="date"]:focus,
.form-style-7 input[type="datetime"]:focus,
.form-style-7 input[type="email"]:focus,
.form-style-7 input[type="number"]:focus,
.form-style-7 input[type="search"]:focus,
.form-style-7 input[type="time"]:focus,
.form-style-7 input[type="url"]:focus,
.form-style-7 input[type="password"]:focus,
.form-style-7 textarea:focus,
.form-style-7 select:focus {}

.form-style-7 li>span.bot {
	background: #F3F3F3;
	display: block;
	padding: 3px;
	margin: 0 -9px -9px -9px;
	text-align: center;
	color: #C0C0C0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
}

.form-style-7 textarea {
	resize: none;
}

.form-style-7 input[type="submit"],
.form-style-7 input[type="button"] {
	background: #2471FF;
	border: none;
	padding: 10px 20px 10px 20px;
	border-bottom: 3px solid #5994FF;
	border-radius: 3px;
	color: #D2E2FF;
}

.form-style-7 input[type="submit"]:hover,
.form-style-7 input[type="button"]:hover {
	background: #6B9FFF;
	color: #fff;
}

.modal-open .modal{
	width: 100vw;
}
.user{
	color: #858585;
	transition: .3s  all ease;
}
.user:hover{
	cursor: pointer;
	color: rgb(113,180,79);
}
.user:hover{

}

form div input{
	border-radius: 0 !important;
}
@media screen and (min-width: 1024px){
.height-long{
	height: 90% !important;
}
}